
ul{
    list-style-type: none;
}
.fixTop{
    position: fixed;
    width: 100%;
    height: 310px;
}

.newsfeed-header{
    padding-top: 10px;
    background: #3B5999;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#feed{
    margin-top:310px;
}

#feed-form{
    position: fixed;
    margin-right:10%;
    margin-left:10%;
    margin-top: 0px;
}

ul > li{
    background-color: white;
    margin: 1em;
    padding: .75em;
    transition: 1s;
    vertical-align:middle;
}
.button.warning, .button.success{
    color: #fefefe;
}

.row-heading{
    font-weight: bold;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}
.heading{
    font-family: 'Vollkorn', serif;
    color: white;

}

.category{
    background: #fe921f; color: #ffffff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px; text-transform: uppercase; 
}

.feed-name{
    text-align:left;
    line-height: 50px;
}

.feed-year{
    float:right;
    line-height: 50px;
}

.space{
    margin-right: 20px;
}


.promote{
    background-color: #FA6121;
    text-transform: uppercase;
    font-family: opensans;
    font-weight: 500;
    transition: 1s;
    border: solid white thin;
    color: white;
}

#logo:hover{
    content:url(dino2.png);
}


.template {
    display: none;
}

body {
    background-image: url("fb.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
}

#searchField {
    background-image: url('search.png');
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
