
ul{
    list-style-type: none;
}
.fixTop{
    position: fixed;
    width: 100%;
    height: 200px;
}

.newsfeed-header{
    padding-top: 10px;
    background: #3B5999;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#feed{
    margin-top:200px;
}

#movie-form{
    position: fixed;
    margin-right:10%;
    margin-left:10%;
    margin-top: 0px;
}

ul > li{
    background-color: white;
    margin: 1em;
    padding: .75em;
    transition: 1s;
    vertical-align:middle;
}
.button.warning, .button.success{
    color: #fefefe;
}

.row-heading{
    font-weight: bold;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}
.heading{
    font-family: 'Vollkorn', serif;
    color: white;
    
}

.movie-name{
    text-align:left;
    line-height: 50px;
}

.movie-year{
    float:right;
    line-height: 50px;
}

.space{
    margin-right: 20px;
}
.logo{
    height:100px;
}

.promote{
    background-color: #FA6121;
    text-transform: uppercase;
    font-family: opensans;
    font-weight: 500;
    transition: 1s;
    border: solid white thin;
    color: white;
}

.template {
    display: none;
}

body {
    background-image: url("fb.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
}
